<h1>Sexah Monkeys</h1>
<p>When The Organ Grinders debuted in the summer of 2010, pinning on their fezzes and monkey ears as they chased down the rapidly departing Krewe of Oak parade, did the name have more meaning than a titillating double entendre? Maybe for some. Probably not fofloatr most. But whatever the original intent of naming a brand new, co-ed, gypsy-phonic, fly-by-the-seat-of-their-pants dance troupe after those funny men with their handle bar mustaches and monkeys, the parallels have become too much to ignore…</p>

<p>Those nostalgic mustachioed men, the original organ grinders, were usually immigrants, people flat on cash who were drawn to theparade_27 organ because it needed no previous skill to
turn the crank. Many cities ended up banning them, citing the inescapable sound of them on the streets and causing traffic congestion. Oh, and they had monkeys.</p>

<p>The Organ Grinders are an equal opportunity dance troupe – all skill levels, sizes, colors, and genders are welcome and celebrated. Membership fees are kept as low as possible for all those working monkeys. Noise pollution and booty shaking traffic stopping are The Organ Grinders’ trademarks!
parade_12In all seriousness though folks, there is something to this analogy. The Organ Grinders, like their namesakes, are street performers, scrappy opportunists who don’t need anything much to get out there and shake tail (monkey tail, that is). Every parade is a new adventure: whether it’s debuting a new dance or performing to live music while people crawl out of the audience to join the band. It’s always something new with this permissive, welcoming, joyous group. It has to be – monkeys have very short attention spans. Especially the sexah ones. -Robin Baudier</p>

<p>Lastly, a special shoutout to Andrew H. Wilson Charter School for hosting the Organ Grinders’ practices this year.</p>
