<h1> Payment Steps:</h1>
<ol>
  <li>Receive email about payments being due.</li>
  <li>Login at nolamonkeys.com</li>
  <li>Enter amount owed or the entire balance.</li>
  <li>Pay with credit card</li>
  <li>Drink Margaritas with all the extra time you now have.</li>
</ol>


<h1> Check-in Steps:</h1>
<ol>
  <li>Find out the secret word of the day from a dance captain</li>
  <li>Go to nolamonkeys.com</li>
  <li>Click "Check-in"</li>
  <li>Select your name from the dropdown.</li>
  <li>Add the secret word.</li>
  <li>Select the checkbox where you promise that you are not lying.</li>
</ol>


<h1> FAQ:</h1>
<ol>
  <li>Do I have to login to checkin?
    <p>No. The checkin is separate from the login. This is to make it easier if someone needs to borrow another phone to checkin.<p>
  </li>
  <li>Does spelling, spaces, capitilization of the secret word matter?
    <p>No. The words will be looked at by a person and not computer but try your best to spell it correctly.</p>
  <li>Can I checkin after practice or a day later using the form?
    <p>No. Just like last year, if you forget to sign in during practice then you must email nolaorgangrinders.membership@gmail.com. Also remember, that edits like this are time consuming on our end and we would appreciate to have as few of them as possible. However, we of course understand that mistakes happen.</p>
  </li>
  <li>Will I get a reminder about payments?
    <p>There will be an email when the payment date is coming up and emails if the payment is behind.</p>
  </li>
  <li> How does the Checkin work?
    <p>The way it works is the data from the google form is collected into a spreadsheet that we use to create another spreadsheet that spits out the number of practices people are attending. When the form is filled out a timestamp is sent. This field is not editable so when you checkin needs to match when you are at practice.</p>
  </li>
  <li> How does the Payment work?
    <p>Jacqui built out a system for accepting payments online. This system does not use paypal but instead directly processes the money and sends it straight to the bank account. This means that no one has to type in any data. It also means that no one has to keep track of checks. Jacqui gets realtime data when the payments are sent but mostly will only be looking at it when it's time to email people and to see how much money we have already collected. There is an admin area where admins can see who has paid and how much they have paid.</p>
  </li>
  <li>Does this site keep my information secure?
    <p>The passwords are not stored in plain text. The site has an ssl certificate. The site does not store any credit card information. The credit card information is processed by a very well known third party app called Stripe. Even if the site goes down in flames, the payment data is stored forever on Stripe so there is no way for us to loose who has paid or not.</p>
  </li>
  <li>Why did you change a perfectly good system for this new one?
    <p>This was done to reduce the amount of work on the dance captains and board members. Processing data isn't fun for anyone but having it adds to the continued success of our group. We appreciate the effort that it takes to learn the new systems. Any inquiries or feedback is always welcome at nolaorgangrinders.membership@gmail.com</p>
  </li>
</ol>
